i.DS_Store

.project

.settings

.classpath

.svn

.vscode

# Grading rubrics
/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/bin/lab1/voting/GradingRubric.txt
/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/src/lab1/voting/GradingRubric.txt
