.DS_Store

.project

.settings

.classpath

.svn

.vscode

# Grading rubrics
/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/bin/lab1/voting/GradingRubric
/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/src/lab1/voting/GradingRubric

/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/bin/lab2/minesweeper/GradingRubric
/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/src/lab2/minesweeper/GradingRubric

/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/bin/lab3/shapes/GradingRubric
/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/src/lab3/shapes/GradingRubric

/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/bin/lab4/shapes/GradingRubric
/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/src/lab4/shapes/GradingRubric

/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/bin/lab5/whackamole/GradingRubric
/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/src/lab5/whackamole/GradingRubric

/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/bin/lab6/authors/GradingRubric
/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/src/lab6/authors/GradingRubric

/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/bin/lab7/recursion/GradingRubric
/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/src/lab7/recursion/GradingRubric

/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/bin/lab8/search/GradingRubric
/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/src/lab8/search/GradingRubric

/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/bin/lab9/list/GradingRubric
/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/src/lab9/list/GradingRubric
