.DS_Store

.project

.settings

.classpath

.svn

//Grading rubrics
/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/bin/lab01/voting/GradingRubric.txt
/COMP132-IntroductionToComputerScienceII/COMP132LabsFA15/src/lab01/voting/GradingRubric.txt
